<p id="notice"><%= notice %></p>

<p>
  <strong>Fname:</strong>
  <%= @person.fname %>
</p>

<p>
  <strong>Lname:</strong>
  <%= @person.lname %>
</p>

<p>
  <strong>Age:</strong>
  <%= @person.age %>
</p>

<%= link_to 'Edit', edit_person_path(@person) %> |
<%= link_to 'Back', people_path %>
